
:root {
    --color-background: #EBECEE;
    --white: #FFFFFF;
    --black: #000000;
    --orange: #EB9B00;
    --blue: #002F52;
    --blue-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

    --font-main:'Poppins', sans-serif;
    --font-secondary: 'Josefin Sans', sans-serif;
    
}
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-main);
    font-size: 16px;
    font-weigth: 300;
}